<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Item</title>
</head>
<body>
    <a href="/login">Logout</a>
    <a href="/wishes">Home</a>
    <h1>Create a New Wish List Item</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
         </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/wishes/create" method="post">
        {% csrf_token %}
        <p>Item/Product: <input type="text" name="item"></p>
        <input type="submit" value="Add">
    </form>
</body>
</html>