<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Info</title>
</head>
<body>
    <a href="/login">Logout</a>
    <a href="/wishes">Home</a>
    <h2>{{item.item}}</h2>
    <h4>Users who added this product/item under their wish list:</h4>
    {%for user in item.products %}
    <p>{{user.name}}</p>
    {% endfor %}
   
</body>
</html>